<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mayflower.soundboard">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="de.mayflower.soundboard.state.SoundBoardWelcome" android:label="@string/title_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="de.mayflower.soundboard.state.SoundBoardRecorder" android:label="@string/title_test"/>

        <activity android:name="de.mayflower.soundboard.state.SoundBoardViewPager" android:label="@string/title_main"/>

    </application>

</manifest>
